# EditorConfig - Configuração de Formatação
# https://editorconfig.org

# Arquivo raiz
root = true

# Configurações para todos os arquivos
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

# Markdown - permitir trailing spaces (para line breaks)
[*.md]
trim_trailing_whitespace = false

# YAML - 2 espaços
[*.{yml,yaml}]
indent_size = 2

# Makefiles - tabs obrigatórios
[Makefile]
indent_style = tab

# Ruby
[*.rb]
indent_size = 2

# HTML/Liquid
[*.{html,liquid}]
indent_size = 2

# CSS/SCSS
[*.{css,scss}]
indent_size = 2

# JavaScript
[*.js]
indent_size = 2
