/* Desktop/Tablet - 769px a 1200px */
@include respond-to('desktop-large') {
    body {
        padding-left: calc(var(--iconbar-width) + var(--sidebar-width));
    }
    
    body.sidebar-collapsed {
        padding-left: var(--iconbar-width);
    }
    
    .top-bar {
        padding: var(--spacing-sm) var(--spacing-lg);
    }
    
    header {
        padding: var(--spacing-lg) 4rem var(--spacing-lg) 0.5rem;
        gap: var(--spacing-lg);
    }
    
    header h1 {
        font-size: 1.85rem;
    }
}
