/* Tablet - 481px a 768px */
@include respond-to('tablet') {
    body {
        padding-left: var(--iconbar-width) !important;
    }
    
    .top-bar {
        padding: var(--spacing-sm);
    }
    
    header {
        padding: 1.4rem 3.5rem 1.4rem 0.45rem;
        gap: 1.4rem;
    }
    
    header h1 {
        font-size: 1.7rem;
        margin: 0.2rem 0;
    }
    
    nav a {
        font-size: 13px;
        margin: 0 4px;
        padding: 0.35rem 0.5rem;
    }
    
    main {
        padding: 0 var(--spacing-sm);
    }
}
