<div id="repositories-mode" class="repositories-mode" hidden>
    <div class="repositories-container">
        <div class="repositories-title">Repositórios de Projetos</div>
        <ul class="repositories-list">
            {%- if site.data.repositories.repositories -%}
                {%- for repo in site.data.repositories.repositories -%}
                <li class="repository-item">
                    <a href="{{ repo.local_path | relative_url }}" class="repository-link">{{ repo.name }}</a>
                    <span class="repository-date">Atualizado: {{ repo.updated }}</span>
                    <a href="{{ repo.github_url }}" class="repository-github" target="_blank" rel="noopener noreferrer" title="Ver no GitHub">⎘</a>
                </li>
                {%- endfor -%}
            {%- else -%}
                <li class="repository-item">
                    <span class="repository-link">Nenhum repositório sincronizado</span>
                </li>
            {%- endif -%}
        </ul>
    </div>
</div>