<aside id="sidebar" class="sidebar">
  <nav class="sidebar-nav">
    <div class="sidebar-section">
      <h3>Gatilhos</h3> <!-- tornar clicável -->
      <ul>
        <li><a href="{{ '/gatilho/roadmaps/index' | relative_url }}">Exemplo Roadmaps</a></li>
        <!--um 'for' aqui para mostrar listado as subpastas de gatilho e seus arquivos-->
      </ul>
    </div>

    <div class="sidebar-section">
      <h3>Posts</h3>
      <ul>
        <li><a href="{{ '/posts/introducao' | relative_url }}">Exemplo Introducao</a></li>
      </ul>
    </div>
  </nav>
</aside>
