/* ============================================
   COMPONENTES - ARQUIVO DE IMPORTAÇÃO
   ============================================
   Este arquivo importa todos os componentes modulares
   para facilitar a manutenção e organização
*/

/* Componentes UI */
@import 'components/badges';
@import 'components/breadcrumb';
@import 'components/buttons';
@import 'components/scrollbar';
@import 'components/sidebar';
@import 'components/topbar';
@import 'components/text/blockquote';
@import 'components/text/tables';

/* Layouts de Páginas */
@import 'layouts/pasta';
@import 'layouts/diario';
@import 'layouts/projeto-page';

/* Estilos responsivos para as Telas*/
@import 'screens/desktop';
@import 'screens/phone';
@import 'screens/tablet';