<div id="repositories-mode" class="repositories-mode" hidden>
    <div class="repositories-container">
        <h3>Repositórios de Projetos</h3>
        <ul class="repositories-list">
            <li class="repository-item">
                <a href="#" class="repository-link">exemplo-projeto-1</a>
                <span class="repository-date">Atualizado: 01/02/2026</span>
            </li>
            <li class="repository-item">
                <a href="#" class="repository-link">exemplo-projeto-2</a>
                <span class="repository-date">Atualizado: 15/01/2026</span>
            </li>
            <li class="repository-item">
                <a href="#" class="repository-link">exemplo-projeto-3</a>
                <span class="repository-date">Atualizado: 28/12/2025</span>
            </li>
        </ul>
    </div>
</div>