<!DOCTYPE html>
<html lang="{{ site.lang | default:"pt-BR" }}">

{% include head-default.html %}

<body class="sidebar-collapsed">
  <!-- Barra lateral vertical para ícones -->
  <aside class="icon-bar">
    <button id="sidebar-toggle" class="sidebar-toggle" aria-label="Toggle sidebar"></button>
  </aside>

  {% include sidebar.html %}
  {% include header-default.html %}
  
  <main>
    {{ content }}
  </main>
  
  {% include footer-default.html %}
  
  {% include theme-switcher.html %}
  {% include font-size-control.html %}
  {% include navigation-sidebar.html %}
</body>
</html>
